<div class="main-container" data-controller="scroll" data-scroll-target="container">
    <!-- Block Text -->
    <div class="left_container-landing-page">
      <p class="my-3">The easiest way to manage your <span class="limelight">budget</span> while backpacking</p>
      <div class="orange-btn" data-action="click->scroll#scrollDown">
        <span>Discover</span>
      </div>
      <%#= link_to "Discover", new_user_session_path, class:"orange-btn" %>
    </div>
    <!-- -->

    <!-- Image -->
    <div class="right_container-landing-page">
    </div>
    <!-- -->
  </div>
